<div id="container1" style="background-color: ;">
    <h1>{{ title }}</h1>
<form action="login" method="post" id="flogin">
    <br>
 
<div class="border-box">
<h3>Login Form</h3>
<label for="uname" id="un">Email:</label>
<input type="text" name="user" placeholder="Enter Email" id="uname"><br/>
 
<label for="upass" id="ps"></label><p>Password:</p>
<input type="password" name="pass" placeholder="Enter Password" id="upass"><br/>
 
<button type="submit" value="Login" class="btn btn-primary"  id="submit" onClick="alert('Login Successfully')">Login</button>
 
<a href="#" style="padding-left: 20px;">Register?</a>
</div>
 
</form>
</div>