<nav class="navbar navbar-expand-lg navbar-light fluid" style="background-color: #64766A; color: #C0A9BD">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>


<div style="float: right;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          
          <img src="https://cdn3.iconfinder.com/data/icons/basicolor-essentials/24/041_hamburger_menu-512.png" style="max-width: 30px; padding-top: 7px;">

        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="#">Home</a>

          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="login">Login/Sign Up</a>

        </div>

      </li>
      
      <li>
        <h3>
          <p style="padding-top: 10px; margin-left: 10px;">{{ title }}</p></h3>
      </li>

    </ul>

  </div>
  
</div>

</nav>

