<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color:  #361999; color: white; margin-top: 80%;">
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold" style="text-align: center;">About Us</h5>
                <p style="text-align: center;">Are you ready to ace your upcoming job interview? One of the most important parts of interview preparation is being ready to respond effectively to the questions that employers typically ask. Since these interview questions are so common, hiring managers will expect you to be able to answer them smoothly and without hesitation.?</p>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none pb-3">



            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">



                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold" style="text-align: center;">Contact Us</h5>
                <p style="text-align: center;">harsh.mody@icloud.com</p>
                <p style="text-align: center;">neerajpatil009@gmail.com</p>
                <p style="text-align: center;">harshparikh001@gmail.com</p>
                <p style="text-align: center;">ankit04092000.ap@gmail.com</p>



            </div>
            <!-- Grid column -->



        </div>
        <!-- Grid row -->



    </div>
    <!-- Footer Text -->



    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="#">Balance Careers</a>
    </div>
    <!-- Copyright -->



</footer>
<!-- Footer -->